@import url("fontawesome-all.min.css");

* {
  background-color: #2f2f2f;
  font-family: "Oswald", sans-serif;
}
a {
  color: #2f2f2f;
  text-decoration: none;
  font-size: 18px;
  background-color: #ffffff;
}
i {
  color: #fdfdfd;
  size: 15px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style: none;
  list-style-type: none;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
}
header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .contenedor .logo {
  width: 120px;
  height: auto;
  align-items: center;
}

header .contenedor nav a {
  margin-left: 15px;
  margin-right: 15px;
}

div .logo-centro {
  align-items: center;
  display: block;
}

#title {
  display: fixed;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
#title h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
}
div.contenedor {
  background-color: #ffffff;
}
.contenedor nav {
  background-color: #fdfdfd;
}
/* BANNER  */
#banner{
  text-align: center;
  width: 500px;
  height: 500px;
}
#banner h1 {
  color: #dbdbdb;
  font-size: 45px;
  margin: 0;
}
#banner img{
  width: 700px;
  height: 700px;
}

span.imagen {
  background-color: #dbdbdb;
}
#principal {
  width: 356px;
}
header .contenedor .contenido nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
}

/* Esto es de la seccion 1*/
section #parrafo{
  
 
}
#parrafo {
  background-color: #dbdbdb;
  color: #dbdbdb;
  font-size: 25px;
  text-align: center;
}


#parrafo p{
   background-image: linear-gradient(to left, rgba(30, 30, 30, 0.5), #2a95db),
  url(../img/Cuerpo1.jpg);

}



/* imagen principal*/
#banner{  width: 1255px;
  height: 850px;

}















/* Esto es del footer*/
#footer {
  background-color: #2f2f2f;
  padding: 6em 0;
  text-align: center;
}

#footer .icons .icon.alt {
  text-decoration: none;
  color: #dbdbdb;
  background-color: #2f2f2f;
}
a.name {
  background-color: #2f2f2f;
}

#footer .icons .icon.alt:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

#footer .icons .icon.alt:before {
  color: #272833 !important;
  text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5),
    -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5),
    0 -1px 0 rgba(255, 255, 255, 0.5);
}

#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  line-height: 1em;
  margin: 2em 0 0 0;
  padding: 0;
  text-align: center;
}

#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: #dbdbdb;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900 !important;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands" !important;
}

.icon.alt {
  text-decoration: none;
}

.icon.alt:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon.alt:before {
  color: #1c1d26 !important;
  text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff,
    0 -1px 0 #ffffff;
}

.icon.major {
  background: #272833;
  border-radius: 100%;
  cursor: default;
  display: inline-block;
  height: 6em;
  line-height: 5.65em;
  margin: 0 0 2em 0;
  text-align: center;
  width: 6em;
}

.icon.major:before {
  font-size: 2.25em;
}

.icon.major.alt {
  text-decoration: none;
}

.icon.major.alt:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon.major.alt:before {
  color: #272833 !important;
  text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff,
    0 -1px 0 #ffffff;
}

ul.icons {
  list-style-type: none;
}
a.icon{
  align-items: center;
  padding-left: 100px;
  padding-right: 70px;
}
ul.icons li.left {
  float: left;
}


