.testimony__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.testimony__item{
    width: 95%;
    margin: 0 auto;
    background: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}

.testimony__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimony__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}

.testimony__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.testimony__verification{
    color: #E0AFA0;
    font-weight: 700;
}

.testimony__review{
    font-weight: 500;
}

.testimony__item__ultimate{
    width: 95%;
    margin: 0 auto;
    background: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}

